.schedule-picker {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
.date-picker, .time-picker {
    border: 1px solid lightgray;
    padding: 0.7rem;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}


