.schedule-picker {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

.active-selections {
  border: 1px solid grey;
  padding: 1em;
}

.date-selection-sets {
  gap: 0.5em;
}

.date-selection-set {
  padding: 1em;
  border: 1px solid;
}