.schedule-picker {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
.date-picker, .time-picker {
    border: 1px solid lightgray;
    padding: 1rem;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

.active-selections {
  border: 1px solid grey;
  padding: 1em;
}

.date-selection-sets {
  gap: 0.5em;
}

.date-selection-set {
  padding: 1em;
  border: 1px solid;
}