.date-selection-navigation {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   width: 20em;
   max-height: min-content;
}

.date-selection-set {
    position: relative;
    padding: 0.7rem;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    left: 0;
    transition: left .15s ease-in;
}

.date-selection-set:not(.focused-selection-set):hover{
    left: 1em;
}

.focused-selection-set {
    position: relative;
    left: 1em;
    outline: 3px solid;
    outline-offset: -3px;
}

.add-selection-set-btn {
    align-self:flex-end;
    margin: 0 0 0.3em 0;
    padding: 0.4em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: fit-content;
    font-size: xx-large;
    border: none;
    color: darkgray;
    min-width: min-content;
    min-height: min-content;
}


button:hover {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    color: #222222
}
